{% extends 'base.html.twig' %}

{% block title %}My Profile
{% endblock %}

{% block body %}

	<section class="avatar-user container text-center mt-3">
		<h2 class="text-black"> Mon profil</h2>
		<hr class="w-25 mx-auto mb-5 opacity-100 mt-1 border-2">
		<img class="logoprofil h-25 mx-auto mb-3 border-2 rounded-circle border border-dark" src="{{ asset('build/images/user.png') }}" alt="Logo">
		<div class="text-center mt-2">

		</div>
	</section>
{% if app.user %}
	<section class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-4 mt-3 bg-primary-inverse p-3 border-2 rounded text-center">

					<div class=" mb-3">
						<label for="validationCustom01" class="form-label">Prénom: {{ app.user.firstname }}</label>
					</div>
					<div class="mb-3">
						<label for="validationCustom02" class="form-label">Nom: {{ app.user.lastname }}</label>
					</div>
					<div class="mb-3">
						<label for="validationCustomUsername" class="form-label ">Email:
							{{ app.user.email }}</label>

{% endif %}
						<div class="avatar-user mb-2 mt-3 text-center">
								<a href="{{ path('app_profile_edit') }}" class="btn">Modifier profil</a>
						</div>
					</form>
				</div>
			</div>


		<div class="d-flex flex-column pt-5">
			<h2 class=" text-black align-self-center">
				Mes favoris</h2>

			<hr class="w-25 mx-auto mb-5 opacity-100 mt-1 border-2">
			<div class=" justify-content-center d-flex flex-wrap flex-column align-items-center flex-md-row gap-auto w-100 mb-4">


				{% for painting in user.paintingsbookmarked %}

					<div class="star avatar-user card1 m-1  row  position-relative ">

						<img src="{{ vich_uploader_asset(painting)|imagine_filter("watermark_bottom") }}" class="border-2 border border-dark img-fluid m-0 p-0" alt="aperçu de l'oeuvre en favoris" >
						<div class="position-absolute bg-black bottom-0 blur  bg-opacity-50 d-flex flex-row justify-content-between">
							{{ component('BookmarkComponent', {
								painting: painting,
								tag: 'a',
								redirect: true
							}) }}
							<a href="{{ path('app_ecard_painting', {id: painting.id}) }}" class=" text-white ">
								<i class="bi bi-envelope"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endblock %}
