{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-secondary-inverse w-50 m-auto p-3 mt-3  text-white rounded">
            <p>
                Veuillez noter que toutes les images présentes sur ce site ne sont pas libres de droit. Elles sont soumises à des droits d'auteur et ne peuvent être utilisées sans autorisation préalable.<br>Nous vous encourageons à respecter les droits de propriété intellectuelle des créateurs et à obtenir les autorisations nécessaires avant toute utilisation des images présentes sur ce site.
            </p>
        </div>
        <ul class="accordion list-unstyled mt-3 ">
            <li class="bg-primary position-relative overflow-hidden ">
                <img class=" afac  position-absolute w-25 "src="{{ asset('build/images/hexagone.png') }}" alt="">
                <input class="z-1" type="radio" name="accordion" id="first" checked>
                <label class="fw-bold text-white"   for="first" >AFAC974</label>
                <div class="content d-flex flex-column flex-lg-row  w-100 h-100 text-white ">
                    <p class="col rounded bg-dark bg-opacity-50 p-3  z-1 ">
                        Association des Familles amies de CAPELINE- Centre D'Accompagnement Pédagogique en Ligne et d'Ingénierie pédagogique.
                        Soutien aux élèves, accompagnement et/ou
                        formation d'étudiants, d'enseignants ou de parents.<br><br>CAPELINE 974 est un projet de plate-forme d'informations, et de formations à caractère pédagogiques, relatives aux outre-mers.
                        C'est aussi une mise en relation de partenaires divers, impliqués dans le développement durable des outre-mers, en particulier dans l'océan Indien.
                        Elle s'adresse aux élèves de la zone et à leurs enseignants, à leurs familles, et aux collectivités.
                        Ses publications pédagogiques ou scientifiques sont vérifiées par un Comité scientifique.
                        Ses actions en ligne et sur le terrain s'appuient sur des contributions bénévoles, mais aussi sur le travail de stagiaires rémunérés, et, pour 2021, d'un emploi aidé (stagiaire en formation à l'IUT de Saint-Pierre).
                        Des contributions occasionnelles de chercheurs ou de spécialistes dans le domaine du numérique et/ou de l'enseignement nourrissent la réflexion autour de l'enseignement avec le numérique (Réunion, Inde, Madagascar, Belgique...)<br><br>
                        <a class="text-white" href="https://www.facebook.com/pedagolab" target="_blank" rel="noopener noreferrer">Lien vers la page Facebook de l'AFAC 974.</a>
                    </p>

                    <a class="col d-flex flex-row" aria-label="Redirige vers la page Facebook de l'AFAC974" href="https://www.facebook.com/pedagolab" target="_blank" rel="noopener noreferrer">
                        <img class="logo img-fluid w-75 h-auto align-items-center m-auto z-1" src="{{ asset('build/images/afac_black.png') }}" alt="Logo de l'association AFAC974">
                    </a>
                    <img class=" afac2   z-0 position-absolute w-50"src="{{ asset('build/images/hexagone.png') }}" alt="">
                </div>

            </li>
            <li class="ihoi bg-ihoi">
                <input type="radio" name="accordion" id="second">
                <label class="fw-bold text-white" for="second" >Iconothèque Historique de l'océan indien </label>
                <div class="content d-flex flex-column flex-lg-row w-100 h-100 text-white ">
                    <p class="col rounded bg-dark bg-opacity-50 p-4 ">MÉMOIRE DE L’OCÉAN INDIEN <br> <br>
                        Dispersée, fragile, méconnue, la mémoire iconographique de l’océan Indien révèle l’Histoire. À la croisée des routes et des peuples, dessins, aquarelles, peintures, gravures, photographies mettent en scène le kaléidoscope de l’humanité et de ses cultures. Préservée par les familles, les collectionneurs, les entreprises, les associations et les institutions, l’image offre une source historique irremplaçable là où l’écrit est muet et le souvenir perdu. 
                        VALORISER, RASSEMBLER, OFFRIR <br> <br>
                        CONSTRUIRE ENSEMBLE <br> <br>
                        Légitimes gardiennes d’un patrimoine iconographique de plusieurs dizaines de milliers d’images, les institutions culturelles du Département de La Réunion lancent avec l’Iconothèque historique de l’océan Indien un chantier numérique d’avenir.
                        Construire ensemble l’Iconothèque avec tous ceux qui ont vocation à la faire grandir donnera à l’océan Indien toute sa part dans le mouvement mondial d’enrichissement de la connaissance.<br><br>
                        <a class="text-white" href="https://www.ihoi.org/app/photopro.sk/ihoi_icono/" target="_blank" rel="noopener noreferrer">Lien vers le site web de l'IHOI.</a>
                    </p>
                    <a class="col d-flex flex-row" aria-label="Redirige vers la page internet de l'Iconothèque historique de l'océan indien" href="https://www.ihoi.org/app/photopro.sk/ihoi_icono/" target="_blank" rel="noopener noreferrer" >
                        <img class="logo img-fluid w-75 h-auto align-items-center m-auto" src="{{ asset('build/images/logo_ihoi.gif') }}" alt="Logo de l'Iconothèque historique de l'océan indien">
                    </a>
                </div>
            </li>
            <li class="bg-objetT ">
                <input type="radio" name="accordion" id="third">
                <label class="fw-bold" for="third">Objet témoin</label>
                <div class="content d-flex flex-column flex-lg-row w-100 h-100 text-white ">
                    <p class="col rounded bg-dark bg-opacity-50 p-4 ">Our Mission <br><br>
                        The notion of heritage covers a wide range of fields, from ecological niches, to archives, works of art or ancient objects, but also more conceptual objects and "works of the mind" that do not necessarily have a physical manifestation.<br>
                        Objet Témoin is a laboratory for the study, production and transmission of heritage in the digital age.<br> <br>
                        Meet the actors, Challenge the workflows<br> <br>
                        Since two decades, we explore digital creative opportunities for cultural transmission, pedagogy and museography.
                        From Reunion Island to Brussels, with local associations, museums, producers, historical monument keepers & public schools, we dig into physical & immaterial heritage and, humbly, contribute to provide simple yet accurate toolboxes for science, education and preservation.<br> <br>
                        <a class="text-white" href="https://museo.vandanjon.com/index.php/en/" target="_blank" rel="noopener noreferrer">Lien vers le site web d'Objet Témoin.</a>
                    </p>
                    <a class="col d-flex flex-row" aria-label="Redirige vers la page internet du musée d'objet témoin" href="https://museo.vandanjon.com/index.php/en/" target="_blank" rel="noopener noreferrer">
                        <img class="logo img-fluid w-75 h-auto align-items-center m-auto" src="{{ asset('build/images/logo_objet_temoin.png') }}" alt="Logo d'objet témoin">
                    </a>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
