<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    <title>
        Oeuvre aléatoire - Art-AFAC
    </title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block body %}
        <h1 class="visually-hidden">Oeuvre aléatoire</h1>
        <div class="bg-black d-flex flex-column flex-lg-row justify-content-between  px-5 position-relative vh-100">
            <div class="mt-2  button-random">
                <h1 class="visually-hidden">Oeuvre aléatoire</h1>
                <a href="{{ path('app_home') }}" class="btn btn-primary-inverse opacity-50">Accueil</a>
                <a href="{{ path('painting_show', { slug: painting.slug}) }}"
                   class="btn btn-primary-inverse opacity-50">+ d'infos</a>
            </div>
            <div class="my-auto me-lg-4 mx-auto mx-lg-0 ">
                <h1 class=" text-white  "> {{ painting.title }} </h1>
                <p class="fs-3 fw-normal text-white ms-5 ">de</p>
                <h2 class="text-white ms-5 ">{{ painting.artist.name }}  </h2>
            </div>
            <img class="  img-fluid object-fit-cover mt-0  ">
            <img src="{{ vich_uploader_asset(painting)|imagine_filter('watermark_bottom') }}"
                 alt="aperçu de l'oeuvre {{ painting.title }} réalisé par {{ painting.artist.name }}.">
        </div>
        <script>
            setTimeout(function () {
                window.location.reload();
            }, 5000);
        </script>
    {% endblock %}


