{% extends 'base.html.twig' %}

{% block title %} {{ painting.title }}
{% endblock %}

{% block body %}


        <div class=" container position-relative mt-3 p-0 ">
            <div class="painting-frame  ">
                <img src="{{ painting.image }}" class="  w-100 h-100   " alt="...">
                <div class="name-painting  position-absolute bg-black bg-opacity-50  text-white blur px-3 mt-1    rounded ">

                    <p class="row "> {{ painting.title }} de {{ painting.artist.name }}</p> <!--mettre lien auteur-->
                    <a class="row justify-content-center text-white " href="/"> +d'infos</a>
                </div>
                <div class="  position-absolute description blur w-75  ">

                    <div class=" row  bg-black bg-opacity-50  text-white  rounded ">
                        <div class=" row text-center pt-4 ">
                            <p class="col">Artiste : {{ painting.artist.name }}</p>
                            <p class="col">Date de réalisation : {{ painting.date|date('d/m/Y') }} </p>

                        </div>

                        <div class="row text-center ">
                            <p class="col ">Technique : </p>
                            <p class="col">Dimension : H : {{ painting.height }} - L : {{ painting.width }}</p>
                        </div>
                        <hr class="  ">
                        <div class="px-5 ">
                            <h2 class=" text-center">Anecdote :</h2>
                            <p class=" p-5"> {{ painting.anecdote }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <div class="w-50 m-auto pt-5"><h2 class="text-center">Oeuvre du même artiste</h2>
        <hr class="mb-0">
    </div>
    <div class="row gap-2">
        <div class="oeuvre-artiste  col  h-100 image-fluid"><img src="{{ painting.image }}" alt=""></div>
        <div class="oeuvre-artiste col  h-100 image-fluid"><img src="{{ painting.image }}" alt=""></div>
        <div class="oeuvre-artiste col  h-100 object-fit-cover"><img src="{{ painting.image }}" alt=""></div>
        <div class="oeuvre-artiste col  h-100 object-fit-cover"><img src="{{ painting.image }}" alt=""></div>
    </div>

{% endblock %}
