
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Réinitialisation de mot de passe</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container bg-primary rounded rounded-5 p-5 mt-4 position-relative overflow-hidden">
    <div class="z-2">
        <h1><img class="logo mx-auto d-block mb-5" src="{{ asset('build/images/logo2.png') }}" alt="Logo"></h1>
        <hr class="text-white ">
        <p class=" text-white mt-5 ">
            Cher utilisateur,<br><br>
            Nous avons bien reçu votre demande de réinitialisation de mot de passe. Pour poursuivre le processus de réinitialisation, veuillez cliquer sur le lien ci-dessous :<br><br>
            <a class="text-white" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a><br>
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.<br><br>
            Si vous n'avez pas effectué cette demande, veuillez ignorer ce message. Votre mot de passe restera inchangé.<br>
            Nous vous recommandons de choisir un mot de passe fort, contenant une combinaison de lettres majuscules et minuscules, de chiffres et de caractères spéciaux, afin de garantir la sécurité de votre compte.<br><br>
            Cordialement.<br><br>
            L'équipe d'Art-Afac.
        </p>
    </div>
    <img class=" hexagon-mail opacity-25  position-absolute w-50  " src="{{ asset('build/images/hexagone.png') }}" alt="">


</div>
</body>
</html>
