{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories
{% endblock %}

{% block body %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert m-0 alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="d-flex flex-column align-items-center">
        <h1 class="mx-auto my-3">Index des catégories</h1>
    </div>

    <a class="btn btn-success mx-5 align-self-start " href="{{ path('app_admin_category_new') }}">Ajouter une catégorie</a>
    <div class="mx-5 table-responsive">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Catégorie</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.id }}</td>
						<td>{{ category.name }}</td>
						<td style="text-align: right">
							<div>
								<a class="btn btn-info " href="{{ path('app_admin_category_edit', {'id': category.id}) }}">Editer</a>
							</div>
						</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="8">Aucune catégorie disponible</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        <a href="{{ path('app_admin') }}" class="btn btn-primary">Retour à l'index de l'administration</a>

    </div>
{% endblock %}
