{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-artist container-fluid bg-info row mt-3 pt-5 justify-content-between">
        <div class="text order-lg-0 mx-3 mb-5 col">
        <h1 class="artist-name d-flex flex-row justify-content-start text-primary-inverse pb-1">{{ artist.name }}</h1>
        <div class="d-flex flex-row justify-content-start">
        <p class="nationality pt-1 text-primary-inverse ">{{ artist.nationality }}</p>
        <p class="date-of-birth align-self-end text-primary-inverse px-5">
            08/07/1996</p>
        </div>
        <div class="biography mt-5">
            <p class="text-primary-inverse justify-content-start">{{ artist.biography }}</p>
        </div>
        </div>
        <div class="clip-path d-flex mt-3 pb-3 bg-info col justify-content-center align-self-center">
            <div class="hexagon-2 order-lg-2">
                <img class="img-fluid" src="{{ asset('build/images/artist.png') }}" alt="Logo">
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex flex-row justify-content-center bg-info pt-5">
    <h2 class="work text-primary-inverse"> Ses oeuvres</h2>
    </div>
{% endblock %}

{% block title %}
    {{ artist.name }}
{% endblock %}

