{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block body %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert m-0 alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="d-flex flex-column align-items-center">
	<h1 class="mx-auto my-3">Index des utilisateurs</h1>
</div>
	<div class="m-5 table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Mot de passe</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Avatar</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.password }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.avatar }}</td>
						<td>
							<a class="btn btn-primary my-1" href="{{ path('app_admin_user_show', {'id': user.id}) }}">Aperçu</a>
							<a class="btn btn-info" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        <div class="d-flex justify-content-center">{{ knp_pagination_render(users) }}</div>
        <a href="{{ path('app_admin') }}" class="btn btn-primary mb-3">Retour à l'index de l'administration</a>
    </div>

	</div>
{% endblock %}
