{% extends 'base.html.twig' %}

{% block title %}Envoyer une e-card de {{ painting.title }}{% endblock %}

{% block body %}
    <h1 class="mx-auto align-self-start my-4 text-center">
        Envoyer une E-card de l'œuvre<br>
        "<strong>{{ painting.title }}</strong>"
    </h1>
    <div class="my-auto">
    <div class="d-flex flex-lg-row justify-content-lg-around align-items-lg-center flex-column-reverse align-items-center my-auto mx-3 mb-3">
<div class="ecard painting-frame">
    <a href="{{ vich_uploader_asset(painting)|imagine_filter('watermark') }}" target="_blank" rel="noopener noreferrer" >
        <img src="{{ vich_uploader_asset(painting)|imagine_filter('watermark_bottom') }}"
             class="w-100 object-fit-cover img-fluid"
             alt="{{ painting.title }} de {{ painting.artist.name }}">
    </a>
</div>
    <div class="col-8 col-lg-6 mx-3 align-self-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    </div>
    </div>
    <button class="btn btn-success w-25 my-4 mx-auto" type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
