{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-ecard d-flex flex-column align-self-center bg-primary-inverse m-3 p-2 shadow-lg ">
        <a class="text-black" href="{{ path('painting_show', { id: ecard.painting.id}) }}">
        <h1 class="mb-3 mx-2 text-center">{{ ecard.painting.title }}</h1>
        </a>
    <img class="img-fluid" src="{{ vich_uploader_asset(ecard.painting)|imagine_filter('limit450') }}" alt="{{ ecard.painting.title }}">
        <div class="m-3">
            <p><strong>Expéditeur :</strong> {{ ecard.user.firstname ~ ' ' ~ ecard.user.lastname }} ({{ ecard.user.email }})</p>
            <p><strong>Date d'envoi : </strong>{{ ecard.sendedAt|date('d/m/Y') }}</p>
            <p class="w-100"><strong>Message :</strong>  <br> {{ ecard.message|nl2br }}</p>
        </div>
</div>
    <div class="my-3 mx-3 d-flex flex-column align-items-center">
        {% if app.user %}
        <h3>{{ app.user.firstname }}, répondez à {{ ecard.user.firstname }} en choisissant une oeuvre dans notre galerie ! </h3>
            <a href="{{ path('galery_index') }}" class="btn btn-info w-25"> Cliquez ici !</a>
        {% else %}
            <p>Envie de lui répondre ? Inscrivez vous en cliquant sur le bouton ci-dessous ! </p>
        <a class="btn btn-primary">Inscription</a>
        {% endif %}
    </div>
{% endblock %}

{% block title %}
E-card
{% endblock %}

