{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex flex-lg-row flex-column mx-auto align-items-center justify-content-center">
        <div class="main-ecard d-flex flex-column align-self-center bg-primary-inverse m-3 p-2 shadow-lg ">
            <a class="text-black" href="{{ path('painting_show', { slug: ecard.painting.slug}) }}">
                <h1 class="mb-3 mx-2 text-center">{{ ecard.painting.title }}</h1>
            </a>
            <img class="img-fluid" src="{{ vich_uploader_asset(ecard.painting)|imagine_filters(['limit450', 'watermark_bottom']) }}"
                 alt="{{ ecard.painting.title }}">
            <div class="m-3">
                <p><span class="fw-bold">Expéditeur :</span> {{ ecard.user.firstname ~ ' ' ~ ecard.user.lastname }}
                    ({{ ecard.user.email }})</p>
                <p><span class="fw-bold">Date d'envoi : </span>{{ ecard.sendedAt|date('d/m/Y') }}</p>

            </div>
        </div>

        <div class="main-ecard bg-primary-inverse m-3 p-2 shadow-lg">
            <p class="w-100"><span class="fw-bold">Message :</span> <br> {{ ecard.message|raw }}</p>
        </div>
    </div>
    <div class="my-3 mx-3 d-flex flex-column align-items-center">
        {% if app.user %}
            <h3>{{ app.user.firstname }}, répondez à {{ ecard.user.firstname }} en choisissant une oeuvre dans notre
                galerie ! </h3>
            <a href="{{ path('galery_index') }}" class="btn btn-info w-25"> Cliquez ici !</a>
        {% else %}
            <p>Envie de lui répondre ? Inscrivez vous en cliquant sur le bouton ci-dessous ! </p>
            <a class="btn btn-primary">Inscription</a>
        {% endif %}
    </div>
{% endblock %}

{% block title %}
    E-card
{% endblock %}

