{% extends 'base.html.twig' %}

{% block title %}Edition de {{ artist.name }}{% endblock %}

{% block body %}
    <div class="m-5">
    <h1>Editer "{{ artist.name }}"</h1>

    {{ include('admin_artist/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary mb-2" href="{{ path('app_admin_artist_index') }}">Retour à l'index</a>

    {{ include('admin_artist/_delete_form.html.twig') }}
    </div>
{% endblock %}
