{% extends 'base.html.twig' %}

{% block title %}Gestion des artistes{% endblock %}

{% block body %}
    <h1 class="m-5">Artist index</h1>

<div class="m-5 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateOfBirth</th>
                <th>Nationality</th>
                <th>Biography</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.dateOfBirth ? artist.dateOfBirth|date('d/m/y') : '' }}</td>
                <td>{{ artist.nationality }}</td>
                <td>{{ artist.biography }}</td>
                <td>{{ artist.image }}</td>
                <td>
                    <a class="btn btn-primary mb-2" href="{{ path('artist_show', {'slug': artist.slug}) }}">Voir</a>
                    <a class="btn btn-info" href="{{ path('app_admin_artist_edit', {'id': artist.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_admin_artist_new') }}">Create new</a>
</div>
{% endblock %}
